.clearfix:before,
.clearfix:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after {
  content: " ";
  display: table;

}


.nomhome {
    padding-bottom: 10px;
    padding-top: 80px;

}
 
@media only screen and (min-width: 430px) {
  .nomhome {
      padding-top: 0px;
      padding-bottom: 20px;
  }
}
.bagallery {
    padding-left: 50px;
    padding-right: 50px;

   
}

@media only screen and (min-width: 600px) {
  .bagallery {
      padding-left: 70px;
  }
}

.bagallery-cover {
  width: 500px;
  margin-bottom: 20px;
}

.bagallery-item {
  margin-bottom: 10px;
  width: 150px;
}

.scene {
  height: 270px;
  width: 100%;
}

.viewer {
  height: 100%;
  margin-top: auto;
  margin-left: -60px;
  margin-right: auto;
  max-width: 480px;
  width: 480px;
  background-image: url(../img/spriteAnim_small.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

@media only screen and (min-width: 430px) {
  .viewer {
    margin-left: auto;
    width: 100%;
  }
}

@media only screen and (min-width: 960px) {

  .scene {
    height: 540px;
  }

  .viewer {
    height: 100%;
    max-width: 960px;
    background-image: url(../img/spriteAnim.png);
  }
}


.vbox-content{
    max-width: 90% !important;
    max-height: 90% !important;
    
}

.vbox-content img{
    max-width: 80% !important;
    max-height: 70% !important;
    height: auto !important;
    width: auto !important;
}



@font-face {
  font-family: myfont;
  src: url(../fonts/WestSide.otf);
}

@font-face {
  font-family: myfont2;
  src: url(../fonts/CormorantInfantBold.ttf);
}

body {
  background-color: rgb(255, 255, 255);
  font-family: myfont;
}

div  {
	display: block;
}

.divpage {
    margin-top: -150px;
    margin-left: 0px;
    width: 100%;
}

.divserie {
    background-color: #fdc12f;
    margin-top: 20px;
    color: #2e439c ;
}

.divedit {
    margin-top: 30px;
    background-color: #2e439c;
    color: #fde82f;

}
.divdessin {
    background-color: #f94c00;
}

.fixed-bg {
  background-image: url(../img/papierplie.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.anim {
    background-image: url(../img/papierplie.jpg);
}
.pres {
    background-image: url(../img/papierplie.jpg);
    

}
.work {
	  background-color: #f94c00;

}
.contact{
	  background-color: #fdc12f ;

}

.workbtn {
	text-align: center;
	font-family: myfont;
	font-size: 50px !important;
	color:  #fde82f;
}
.workbtn :hover {
	text-decoration: none !important;
	font-size: 52 px ease-out ease-in;
}


.clearfix:after,
.navbar:after,
.navbar-header:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.affix {
  position: fixed;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* general styles */
a,
button {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
a i[class^="fa"],
button i[class^="fa"] {
  margin: 0 5px;
}
.clickable {
  cursor: pointer !important;
}
.required {
  color: rgb(0, 0, 255);
}
.accent {
  color: rgb(0, 0, 255);
}
.text-uppercase {
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
@media (max-width: 991px) {
  .text-center-sm {
    text-align: center;
  }
}
p.lead {
  margin-bottom: 40px;
}
section,
div.section {
  margin-bottom: 40px;
}
.no-mb {
  margin-bottom: 0 !important;
}
.mb-small {
  margin-bottom: 20px !important;
}
.heading {
  margin-bottom: 40px;
}

.icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  color: #d4cdc3;
  line-height: 80px;
  border-radius: 40px;
  border: solid 1px #d4cdc3;
  font-size: 20px;
}
.icon.icon-lg {
  font-size: 30px;
  border-width: 2px;
}
.ul-icons {
  padding-left: 10px;
}
.ul-icons li {
  list-style-type: none;
  line-height: 20px;
  margin-bottom: 20px;
}
.ul-icons li i {
  width: 20px;
  height: 20px;
  background: rgb(0, 0, 255);
  color: #d4cdc3;
  text-align: center;
  border-radius: 10px;
  line-height: 20px;
  margin-right: 10px;
}
ul.list-style-none {
  list-style: none;
}
#text-page h1,
#text-page h2,
#text-page h3 {
  font-weight: 700;
}
#error-page {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 100px;
}
#error-page h4 {
  margin-bottom: 40px;
}
#error-page p.buttons {
  margin-top: 40px;
}
.banner {
  margin-bottom: 30px;
  text-align: center;
}
.banner img {
  margin: 0 auto;
}
.navbar {
  margin-top: 0px;
  border: none;
}
.navbar ul.nav > li > a {
  letter-spacing: 0.08em;
  border-top: solid 5px transparent;
}
.navbar ul.nav > li > a:hover {
  color: red;
}
.navbar ul.nav > li.active > a,
.navbar ul.nav > li.open > a {
  color: orange ;
}
@media (max-width: 500px) {
  .navbar ul.nav > li.active > a,
  .navbar ul.nav > li.open > a {
    border-top-color: transparent;
  }
  .navbar ul.nav > li > a:hover {
    border-top-color: transparent;
  }
}
.navbar.navbar-light ul.nav > li.active > a {
  background: rgb(255, 255, 255) !important;
  color: rgb(255, 255, 0) !important;
}

.navbar .yamm-content h3 {
  font-size: 18px;
  padding-bottom: 10px;
  margin-top: 5px;
  border-bottom: dotted 1px rgb(0, 0, 255);
  letter-spacing: 0.08em;
}
@media (max-width: 500px) {
  .navbar .yamm-content h3 {
    font-size: 14px;
  }
}
.navbar .yamm-content h5 {
  padding-bottom: 10px;
  border-bottom: dotted 1px rgb(0, 0, 255);
  letter-spacing: 0.08em;
}
.navbar .yamm-content ul {
  margin: 0;
  padding: 0;
}
.navbar .yamm-content ul li {
  list-style-type: none;
  border-bottom: solid 1px #d4cdc3;
  padding: 4px 0;
}
.navbar .yamm-content ul li a {
  position: relative;
  color: #999999;
  font-size: 12px;
  display: block;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.navbar .yamm-content ul li a:hover {
  padding-left: 2px;
}
.navbar .yamm-content .banner {
  margin-bottom: 10px;
}
.navbar .yamm-fw .dropdown-menu {
  padding: 0;
}
.navbar .navbar-buttons {
  float: right;
}
.navbar .navbar-buttons button,
.navbar .navbar-buttons a.btn,
.navbar .navbar-buttons .btn-default.navbar-toggle {
  margin-top: 11px;
  margin-bottom: 11px;
  margin-left: 0;
  margin-right: 5px;
}
.navbar .btn-default,
.navbar .btn-default.navbar-toggle {
  color: rgb(0, 0, 255);
  margin-left: 7px;
  margin-right: 0;
}
.navbar .btn-default:hover,
.navbar .btn-default.navbar-toggle:hover,
.navbar .btn-default:focus,
.navbar .btn-default.navbar-toggle:focus {
  color: rgb(254, 241, 1);
}
.navbar-affixed-top {
  top: 0;
  z-index: 1000;
  width: 100%;
}

.navbar-affixed-top.affix + section {
  margin-top: 62px;
  margin-bottom: 62px;
}
@supports (position: sticky) {
  .navbar-affixed-top {
    position: sticky;
  }
  .navbar-affixed-top.affix + section {
    margin-top: 0;
  }
}
/* buttons  */
.btn {
  font-weight: 700;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  letter-spacing: 0.08em;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  border-radius: 0;
}
.input-group .btn {
  font-size: 14px;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 14px;
  line-height: 1.33;
  border-radius: 0;
}
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0;
}
.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0;
}
.btn-template-main {
  color: rgb(0, 0, 255);
  background-color: rgb(0, 0, 255);
  border-color: #d4cdc3;
}

.box-simple {
  text-align: center;
  margin-bottom: 40px;
}
.box-simple .icon {
  color: rgb(0, 0, 255);
  border-color: rgb(0, 0, 255);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.box-simple h3 {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  color: rgb(0, 0, 255);
  font-weight: 800;
  letter-spacing: 0.08em;
}
.box-simple h3 a {
  color: rgb(0, 0, 255);
}
.box-simple p {
  color: #999999;
}
.box-simple:hover .icon {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.box-simple:hover .icon i {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.box-simple.box-white {
  padding: 20px;
  border: dotted 1px #999999;
}
.box-simple.box-white .icon {
  color: rgb(0, 0, 255);
  border-color: transparent;
  font-size: 70px;
}
.box-simple.box-dark {
  padding: 20px;
  border: dotted 1px #999999;
  background: rgb(0, 0, 255);
  color: #d4cdc3;
}
.box-simple.box-dark .icon {
  color: rgb(0, 0, 255);
  border-color: transparent;
  font-size: 70px;
}
.box-simple.box-dark h3 {
  color: #d4cdc3;
}
.box-simple.box-dark h3 a {
  color: #d4cdc3;
}
.box-simple.box-dark p {
  color: #d4cdc3;
}
/* universal box */
.box {
  background: #d4cdc3;
  margin: 0 0 30px;
  border: solid 1px #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 0;
  border-left: none;
  border-right: none;
}
.box .box-header {
  background: rgb(0, 0, 255);
  margin: -20px 0 20px;
  padding: 20px;
  border-bottom: solid 1px #d4cdc3;
  letter-spacing: 0.08em;
}
.box .box-header:before,
.box .box-header:after {
  content: " ";
  display: table;
}
.box .box-header:after {
  clear: both;
}
.box .box-header:before,
.box .box-header:after {
  content: " ";
  display: table;
}
.box .box-header:after {
  clear: both;
}
.box .box-footer {
  background: rgb(0, 0, 255);
  margin: 30px 0 -20px;
  padding: 20px;
  border-top: solid 1px #d4cdc3;
}
.box .box-footer:before,
.box .box-footer:after {
  content: " ";
  display: table;
}
.box .box-footer:after {
  clear: both;
}
.box .box-footer:before,
.box .box-footer:after {
  content: " ";
  display: table;
}
.box .box-footer:after {
  clear: both;
}
@media (max-width: 991px) {
  .box .box-footer .btn {
    margin-bottom: 20px;
  }
}
.box.no-border {
  border: none;
}

/* Original Boostrap template overwrite */
/* nav */
.nav > li > a {
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: rgb(255, 255, 255);
}
.nav > li.disabled > a {
  color: rgb(255, 255, 255);
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: rgb(255, 255, 255);
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: rgb(255, 255, 255);
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 0 0 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #d4cdc3 #eeeeee rgb(0, 0, 255);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: rgb(255, 0, 0);
  cursor: default;
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
}
.nav-tabs.nav-justified > li > a {
  text-align: center;
  /*margin-bottom: 5px;*/
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 0;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  color: rgb(255, 0, 0);
}
@media (min-width: 500px) {
  .nav-tabs.nav-justified > li > a {
    border-radius: 0 0 0 0;
  }
}
.nav-stacked > li {
  float: none;
}
.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}
.nav-justified {
  width: 100%;
}
.nav-justified > li {
  float: none;
}
.nav-justified > li > a {
  text-align: center;
  /*margin-bottom: 5px;*/
}
.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
.nav-tabs-justified {
  border-bottom: 0;
}
.nav-tabs-justified > li > a {
  margin-right: 0;
  border-radius: 0;
}
@media (min-width: 500px) {
  .nav-tabs-justified > li > a {
    border-radius: 0 0 0 0;
  }
}
.tab-content {
  padding: 15px;
  border-top: none;
}
/* navbar */
.navbar {
  position: relative;
  min-height: 62px;
  border-bottom: 1px solid transparent;
}
@media (min-width: 500px) {
  .navbar {
    border-radius: 0px;
  }
}
@media (min-width: 500px) {
  .navbar-header {
    float: left;
  }
}
.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px;
}
@media (min-width: 500px) {
  .navbar-static-top {
    border-radius: 0;
  }
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
@media (min-width: 500px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    border-radius: 0;
  }
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 14px;
  margin-bottom: 14px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
}
.navbar-toggle:focus {
  outline: 0;
}
.navbar-nav {
  margin: 10.5px -15px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (max-width: 500px) {
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 500px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
}
@media (min-width: 500px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
  }
}
.navbar-text {
  margin-top: 21px;
  margin-bottom: 21px;
}
@media (min-width: 500px) {
  .navbar-text {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
  }
  .navbar-text.navbar-right:last-child {
    margin-right: 0;
  }
}
.navbar-default {
  background-color: rgb(255, 255, 255);
}
.navbar-default .navbar-text {
  color: #2e439c;
}
.navbar-default .navbar-nav > li > a {
  color: #2e439c;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fdc12f !important ;
}

@media (max-width: 500px) {
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
     color: #fdc12f ;
  }
}
/* scaffolding */
body {
  font-family: myfont;
  font-size: 35px;
  line-height: 1.42857143;
  color: rgb(0, 0, 255);
}
a {
  text-decoration: none;
}
topphone {
  color: #d4cdc3 !important;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
#carte img {
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.img-rounded {
  border-radius: 0;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #d4cdc3;
}
/* dropdowns */
.dropdown-menu {
  z-index: 1000;
  font-size: 14px;
  background-color: rgb(0, 0, 255);
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li > a {
  padding: 5px 20px;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}

/* responsive utilities */
@media (max-width: 500px) {
  .text-center-xs {
    text-align: center !important;
  }
  .text-center-xs img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 500px) and (max-width: 991px) {
  .text-center-sm {
    text-align: center !important;
  }
  .text-center-sm img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}


/* type */
.textscroll { 
    margin-top: 20px;
    margin-bottom: -115px;
	text-align: center !important;
	font-size: 40px;
    color: #2e439c;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
@media only screen and (min-width: 960px) {
    .textscroll2 { 
    padding-top: 700px !important;
    margin-bottom: -600px  !important;
    }}
.textscroll2 { 
    padding-top: 460px;
    margin-bottom: -400px;
	text-align: center !important;
	font-size: 25px;
    color: #2e439c;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,.h1,h2,.h2,h3,.h3{
	font-family: myfont;
	margin-top: 20px;
	margin-bottom: 20px;
}


h1 { 
	text-align: center !important;
	font-size: 70px;
    color: #2e439c;
}

h3 { 
    font-size: 55px;
    margin-top: 100px;
}

h4 {
	text-align: center !important;
	font-family: myfont2;
	color: black ;
    line-height: 1.7em !important;
}
.h4, .h5, h4, h5 {
    margin-top: 10px;
    margin-bottom: 30px;
}
h5,h6 {
    font-family: myfont2 !important;
    font-size: 20px;
   

}

h6 {
    font-size: 15px;
    text-align: left !important;
}
a {
    color: #fde82f;
}
a:focus, a:hover {
	text-decoration: none !important;
	font-size: 52 px ease-out ease-in !important;
	color: #2e439c !important;
}


p {
  margin: 0 0 10px;
}
.lead {
  margin-bottom: 20px;
  font-size: 18px;
}
@media (min-width: 500px) {
  .lead {
    font-size: 21px;
  }
}
.text-small {
  font-size: 12px;
}
.text-large {
  font-size: 18px;
}
.text-italic {
  font-style: italic;
}
.text-primary {
  color: rgb(0, 0, 0);
}
.bg-primary {
  color: #d4cdc3;
  background-color: rgb(0, 0, 255);
}
a.bg-primary:hover {
  background-color: #887b27;
}
abbr[title],
abbr[data-original-title] {
  border-bottom: 1px dotted #999999;
}
.panel {
  margin-bottom: 20px;
  background-color: rgb(0, 0, 255);
  border: 1px solid transparent;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}
.panel-heading {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  letter-spacing: 0.08em;
  padding: 15px 15px;
}
.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.panel-group {
  margin-bottom: 20px;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 0;
  overflow: hidden;
}
.panel-group .panel + .panel {
  margin-top: 5px;
}
.panel-group.accordion .panel {
  border-color: #ccc;
}
.panel-primary {
  border-color: rgb(0, 0, 255);
}
.panel-primary > .panel-heading {
  color: rgb(0, 0, 255);
  background-color: rgb(0, 0, 255);
  border-color: rgb(0, 0, 255);
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: rgb(0, 0, 255);
}
.panel-primary > .panel-heading .badge {
  color: rgb(0, 0, 255);
  background-color: rgb(0, 0, 255);
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: rgb(0, 0, 255);
}
.panel-title {
  color: rgb(0, 0, 255);
}
.panel-primary {
  font-weight: 300;
}
.panel-primary .panel-title a:hover {
  color: #d4cdc3;
  text-decoration: none;
}
a.badge:hover,
a.badge:focus {
  color: rgb(0, 0, 255);
  text-decoration: none;
  cursor: pointer;
}
a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: rgb(0, 0, 255);
}
.nav-pills > li > a > .badge {
  margin-left: 3px;
}
}
/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 *
 * @geedmo - Licensed under the MIT license
 */
.yamm .nav,
.yamm .collapse,
.yamm .dropup.use-yamm,
.yamm .dropdown.use-yamm {
  position: static;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
}
.yamm .nav.navbar-right .dropdown-menu {
  left: auto;
  right: 0;
}
.yamm .yamm-content {
  padding: 20px 30px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 15px;
  right: 15px;
}

