
$frame-count: 21;

@media only screen and (min-width: 960px) {

  $offset-val: 480;

  @for $i from 1 through $frame-count {
    .viewer.frame#{$i} {
      background-position: -(($i * $offset-val) * 2) + px 50%;
    }
  }
}

$offset-val-small: 240;

@for $i from 1 through $frame-count {
  .viewer.framesmall#{$i} {
    background-position: -(($i * $offset-val-small) * 2) + px 50%;
  }
}

