{{ $dirpath := path.Join "img" .dirpath }}
<div class="bagallery">
  <div class="row">
    <div class="col-md-12">
      {{ .title | safeHTML }}
    </div>
 
    {{ if isset . "cover"}}
      <div class="col-md-6">
        {{ $filepath := path.Join $dirpath .cover | absURL }}
        <a href="{{ $filepath }}"><img class="bagallery-cover img-responsive" loading="lazy" src="{{ $filepath }}"></a>
      </div>
  
      <div class="col-md-3">
        <div class="box-simple">
          {{ .text | safeHTML }}
        </div>
      </div> 
    {{ end }}

  </div>
  
 {{ if isset . "nodir"}}
    {{ else }}
  <div class="row">             <!-- gallerie images -->
    <div class="col-md-12">
 {{ $current := . }}
        {{ range path.Join "static" $dirpath | readDir }}
          {{ $filepath := path.Join $dirpath .Name | absURL }}
          <li style="display: inline-block"><a href="{{ $filepath }}"><img class="bagallery-item img-responsive" loading="lazy" {{ if isset $current "style" }} style="{{ $current.style | safeCSS }}" {{end}}
                 src="{{ $filepath }}"></a></li>
        {{ end }}
    </div>
  </div>
        {{ end }}
</div>
