<head>
  <meta charset="utf-8">
  <meta name="robots" content="all,follow">
  <meta name="googlebot" content="index,follow,snippet,archive">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ $title_plain := .Title | markdownify | plainify }}
  <title>{{ $title_plain }}</title>
  <meta name="author" content="{{ .Param "author" }}" />
  {{ $keywords := .Site.Params.defaultKeywords | default (slice "" | first 0) }}
  {{ if isset .Params "tags" }}{{ range .Params.tags }}{{ $keywords = $keywords | append . }}{{ end }}{{ end }}
  {{ if isset .Params "keywords" }}{{ range .Params.keywords }}{{ $keywords = $keywords | append . }}{{ end }}{{ end }}
  {{ if gt (len $keywords) 0 }}
  <meta name="keywords" content="{{ delimit (uniq $keywords) ", " }}">
  {{ end }}
  {{ $description_plain := default .Site.Params.defaultDescription .Description | markdownify | plainify }}
  <meta name="description" content="{{ $description_plain }}">

  {{ hugo.Generator }}

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  {{ $animstyle := resources.Get "scss/anim.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $animstyle.Permalink }}">

  <link rel="stylesheet" type="text/css" href="https://rawgit.com/alvarotrigo/fullPage.js/master/src/fullpage.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.css">
  
  {{ "<!-- plugins -->" | safeHTML }}
  {{ range site.Params.plugins.css }}
    <link rel="stylesheet" href="{{ .URL | absURL }}">
  {{ end }}

<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//matomo.patou.tk/";
    _paq.push(['setTrackerUrl', u+'js/']);
    _paq.push(['setSiteId', '2']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src=u+'js/'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

</head>

