
<div class="divpage" id="fullpage">

  <div class="section fixed-bg">   <!--Description -->
    <div class="container">
     <div  class="nomhome">
        <h1> <font color=#f94c00> Yanis </font>
	<font color=#fdc12f> Brunet </font></h1> </div>
<h4>Salut!<br>
<br>
Je suis un graphiste fra&icirc;chement sorti de la HEAD-Gen&egrave;ve.<br>
J'adore imprimer et graver du lino.<br>
J'aime faire des livres.<br>
J'aime faire des affiches.<br>
J'aime les phrases simples.<br>
J'aime mon travail<br>
Et vous?
</h4>
</div>
</div>
  <div class="section work">   <!--Work -->



<div class="container">
<div class="col-md-12">
 
	<div class="row">
		<div class="col-md-6">
			<div class="box-simple">
				<a href="/gravures" class="workbtn">Gravures</a>
			</div>
		</div>
		<div class="col-md-6">
			<div class="box-simple">
				<a href="/editions" class="workbtn">Editions</a>
			</div>
		</div>
	</div>
</div>
<div class="col-md-12">
 
	<div class="row">
		<div class="col-md-6">
			<div class="box-simple">
				<a href="/dessins" class="workbtn">Dessins</a>
			</div>
		</div>
		<div class="col-md-6">
			<div class="box-simple">
<a href="/affiches" class="workbtn">Affiches</a>			</div>
		</div>
	</div>
</div>

	
</div>
</div>

  <div class="section contact">  <!--contact -->
 <div class="container" style="margin-top: -200px;">
<h1> Contact </h1>
<br>
<br>
<h4> <font color="2e439c">tel. : <span style="text-decoration: underline;">(+33)6 72 77 72 20</span><br>
<br>
    e-mail : <span style="text-decoration: underline;">yanis.brunet&#x40;yahoo.com</span>
<br>
<br>
    adresse : <span style="text-decoration: underline;">17 rue de la Paix 74100 Annemasse (FR)</span>
    </font></h4>
</div>
</div>

</div>

