<header class="navbar-affixed-top" data-spy="affix">
    <div class="navbar navbar-default yamm" role="navigation" id="navbar">    
        <div class="container">
            <div class="navbar" id="navigation">
                <ul class="nav navbar-nav navbar-left">
                  {{ $current := . }}
                  {{ range .Site.Menus.main }}
                    <li class="dropdown{{ if eq $current.RelPermalink .URL }} active{{ end }}">
                      <a href="{{ site.BaseURL }}home/#{{ .URL }}">{{ .Name }}</a>
                    </li>
                  {{ end }}
                </ul>
            </div>

        </div>
    </div>
    {{ $filepath := "img/menu.png" | absURL }}
    <img class="img-responsive" height="110px" src="{{ $filepath }}" style="margin-top: -20px">
</header>
