<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body class="fixed-bg">

    <div class="textscroll">Welcome to my portfolio!
          </div>
       <div class="textscroll2">Scroll down to see content
          </div>
     
  <div class="scene" id="sticky">
  <div class="viewer"></div>
        </div>
      

           
    {{ partial "scripts.html" . }}

  </body>
</html>
